@using CardGames.Core
@using CardGames.Core.Extensions

<h1>Game code: @(Game.Code.ToString())</h1>
<p>Your name: @(CurrentPlayer.Name.Str())</p>

<button type="button" class="btn btn-danger" @onclick="@(LeaveGame)">
	Leave
</button>

<ul role="list">
	@foreach (var player in Game.Players)
	{
		if (player.Key != CurrentPlayer.Key)
		{
			<li @key="@(player.Key)">@(player.Name.Str())</li>
		}
	}
</ul>
